{% extends "base.html" %} {% block head %}
<title>Add Books</title>
{% endblock %} {% block body %}

<form
  action="/addBooks"
  method="POST"
  style="width: 70%; margin-left: auto; margin-right: auto"
>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      placeholder="Harry Potter"
    />
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      name="author"
      placeholder="J.K Rowling"
    />
  </div>
  <div class="mb-3">
    <label for="isbn" class="form-label">ISBN</label>
    <input type="text" class="form-control" name="isbn" placeholder="I.S.B.N" />
  </div>
  <div class="mb-3">
    <label for="publisher" class="form-label">Publisher</label>
    <input
      type="text"
      class="form-control"
      name="publisher"
      placeholder="Dark Horse"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
