<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
      <a class="navbar-brand" href={{ url_for( 'home' ) }} , style="padding-left: 1%"
        >Library Management System</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href= {{ url_for( 'members' ) }}> Members </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for( 'transactions' ) }}> Transaction History </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for( 'analytics' ) }}> Analytics </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for( 'addBooks' ) }}> Add Books </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for( 'return_book' ) }}> Return Book </a>
          </li>
        </ul>
      </div>
    </nav>

    {% block body %}{% endblock %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
  <style>
    body {
      background-color: #212121;
      color: white;
    }
  </style>
</html>
